<% @cart_products.each do |p| %>
<div class="card mb-3" style="max-width: 100%;height: 200px;">
    <div class="row g-0">
        <div class="col-md-4 border border-2">
          <% if p.product.product_images.present? %>
            <%= image_tag p.product.product_images.first,class:"img-fluid rounded-start cart-product-image"%>
          <%else%>
            <img src="https://nayemdevs.com/wp-content/uploads/2020/03/default-product-image.png" class="img-fluid rounded-start" alt="...">
         <% end %>
        </div>
    <div class="col-md-8">
       <div class="card-body">
          <h5 class="card-title">
          <a href="/products/<%= p.product.id %>" class="styleanchor name-h">
          <%= truncate(p.product.product_name) %>
          </a></h5>
     
    <div>
     <span>
     <span class="card-text fs-4">₹<%= format_number(p.discounted_price) %></span>
     &nbsp;
     <del><%= format_number(p.total_price)%></del>
      &nbsp;
     <span class="fs-6" style="color:green"><%= p.product.offer%>% off </span>
    </span>
    </div>
                       
      <div class="mt-2">
         <h6>Total Quantity:<%= p.quantity %></h6>
      </div>

     <div class="" style="position: absolute; bottom: 15px; right:10px">
        <a href="/carts/<%= p.id %>/remove_product_from_cart">
        <button class="btn btn-danger">Remove</button></a>
     </div>
    </div>
   </div>
  </div>
  </div>
<%end%>
 <hr/>
<div class="d-flex justify-content-end">  
 <button class="btn btn-primary w-50 p-3" id="proceed">Proceed</button>
</div>
