<%= render 'layouts/navbar' %>
<!-- CheckOut Page -->
<div class="" style="border-radius: 10px;">
   
<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding checkout1">
  <div class="card">
   <div class="card-header p-2">
<div class="float-right"> <h3 class="mb-0">Order#<%= @make_order.razorpay_order_id %></h3>
Date: <%= date_formating(@make_order.created_at) %></div>
<i style="color:green;" class="ms-2">Order confirmation details has been sent to your email id: <%= current_user.email %> </i>
</div>
<div class="card-body">
<div class="row mb-2">
<div class="col-sm-12 ">
<h5 class="mb-1">Your Order will be Delivered to:</h5>
<h3 class="text-dark mb-1"><%= current_user.first_name %> <%= current_user.last_name%></h3>
<div><%= @selected_address.area %></div>
<div><%=  @selected_address.city %>,<%=  @selected_address.state %>,<%=  @selected_address.country%>,<%=  @selected_address.postal_code%></div>
<div>Email: <%= current_user.email %></div>
<div>Phone: +91 <%= current_user.mobile_number %></div>
</div>
</div>
<div class="table-responsive-sm">
<table class="table table-striped">
<thead>
<tr>
<th class="center">#</th>
<th>Item</th>
<th>Description</th>
<th class="right">Price</th>
<th class="center">Qty</th>
<th class="right">Total</th>
</tr>
</thead>
<tbody>
  <% if @make_order.line_items_products.present? %>
       
    <% @make_order.line_items_products.each_with_index do |p,idx| %>
   
       <tr>
          <td class="center"><%= idx+1 %></td>
          <td class="left strong"> <%= truncate(p.product.product_name) %> </td>
          <td class="left"><%= truncate(p.product.product_description)%> </td>
          <td class="right">&#8377;<%= format_number(p.product.product_price) %></td>
          <td class="center"><%= p.quantity %></td>
          <td class="right">&#8377;<%= format_number(p.discounted_price) %></td>
       </tr>

    <%end%>
  <%end%>
</tbody>
</table>
</div>
<div class="row">
<div class="col-md-8">
</div>
<div class="col-md-4 ml-auto">
<table class="table table-clear">
<tbody>
<tr>
<td class="left">
<strong class="text-dark">Subtotal</strong>
</td>
<td class="right">&#8377;<%= format_number(current_user.cart.total_price.round)%></td>
</tr>
<tr>
<td class="left">
<strong class="text-dark">Discount (10%)</strong>
</td>
<td class="right">&#8377;2000</td>
</tr>
<tr>
<td class="left">
<strong class="text-dark">Delivery Charges</strong>
</td>
<td class="right">&#8377;200</td>
</tr>
<tr>
<td class="left">
<strong class="text-dark">Total Amount</strong>
 </td>
<td class="right">
<strong class="text-dark">&#8377;<%= format_number(@make_order.total_amount.round) %></strong>
</td>
</tr>
</tbody>
</table>
</div>
 <div class="d-flex justify-content-end">
    <button id="rzp-button1" class="btn btn-primary w-25">Proceed to Pay</button>
 </div>
</div>   
</div>
<div class="card-footer bg-white">
<p class="mb-0">Let's Shop,NCR Mumbai, 110034</p>
</div>
</div>
</div>


</div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "<%= ENV['RAZORPAY_KEY_ID'] %>", // Enter the Key ID generated from the Dashboard
    "amount": "<%= (@make_order.total_amount*100).to_i %>", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Let's Shop",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "<%= @make_order.razorpay_order_id %>", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
      console.log(response)
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature);

        window.location = `/payments/${response.razorpay_payment_id}/paymentsuccess`;
    },
    "prefill": {
        "name": "<%= current_user.first_name %>",
        "email": "<%= current_user.email %>",
        "contact": "<%= current_user.mobile_number%>"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
