<script>
    $(document).ready(function() 
    {
     window.history.forward();
   });   
</script>

<%= render 'layouts/navbar' %>


<div class="container">
    <div class="row mt-3">
       <div class="col-md-8 p-2">
           <div class="border border-2 p-4" style="background-color:white;">
                <h4><span class="digit">1</span>&nbsp;&nbsp;LOGIN</h4>
                <div class="d-flex">
                <h6><%= current_user.first_name%><%= current_user.last_name%>  </h6>
                &nbsp; &nbsp;
                <h6><%= current_user.mobile_number %> </h6>
                </div>
           </div>

           <div class="border border-2 p-4 mt-2" style="background-color: white;position: relative;">
               <h4 class="processorder-heading" id="select-address"><span class="digit">2</span>&nbsp;&nbsp;SELECT DELIVER ADDRESS </h4>
             
              <div>               
              <div class="mb-2"> 
                  <button id="open-address-form" class="btn btn-outline-dark w-100">ADD A NEW DELIVERY ADDRESS</button>
              </div>

                    <div id="address-form-container"></div>
              </div>

               <% if current_user.addresses.present? %>
                    <% current_user.addresses.each do |address| %>
                        <div class="border border-2 m-2 p-2 processorder" style="position: relative;">
                            <div class="d-flex">
                              <input type="radio" id="add-<%= address.id%>" name="address">
                                <div class="ms-3">
                                <label for="add-<%= address.id %>">
                                <%= current_user.first_name%> <%= current_user.last_name%> &nbsp; <%= address.address_type %> &nbsp; <%= current_user.mobile_number %>
                                 <p><%= address.area %>,<%= address.city %>,<%= address.state %>,<%= address.country%>,<%= address.postal_code%> </p>
                                </label>
                                </div>
                            </div>                                 
                        </div>
                    <%end%>
               <%end%>

               <div id="spinner-border" class="spinner-border text-primary" role="status" style="position: absolute; top:50% ;left:50% ;display: none;">
                    <span class="visually-hidden">Loading...</span>
               </div>

           </div>


           <div class="border border-2 p-4 mt-2" style="background-color: white;">
               <h4 id="order-summary"><span class="digit">3</span>&nbsp;&nbsp;ORDER SUMMARY </h4>
               <div id="order-summary-container">
                
               </div>          
           </div>
        </div>
            
          <div class="col-md-3 border border-2 ms-5 p-2" style="width: 320px; height: 400px; background-color: white; position: sticky; overflow: hidden;top:25px">
             <div>
               <h1>Price Details</h1>
             </div>
             <hr/>
             <div class="d-flex justify-content-between">
                <h6>Price</h6>
                <h6>&#8377;<%= format_number(current_user.cart.total_price.round) %></h6>
             </div>
             <div class="d-flex justify-content-between">
                <h6>Discount</h6>
                <h6>-₹2000</h6>
             </div>
             <div class="d-flex justify-content-between">
                <h6>Delivery Charge</h6>
                <h6>₹200</h6>
             </div>
             <hr/>
             <div class="d-flex justify-content-between">
                <h6>Total Amount</h6>
                <h6>&#8377;<%= format_number(current_user.cart.total_amount) %></h6>
             </div>
             <hr/>
          </div>

    </div>
</div> 
  
 



<%= render 'layouts/footer' %>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var radioInputs = document.querySelectorAll("input[type='radio']");

radioInputs.forEach(function(radioInput) {
    radioInput.addEventListener("change", function() {
        if (this.checked) {
            console.log(this.id)
            let s = this.id
            const myarray = s.split('-')
            console.log(myarray[1])
            var addressid = myarray[1]
            var flags = {addressid:addressid}
            console.log(flags.addressid)
            document.getElementById('spinner-border').style.display="block";
          
            setTimeout(function(){

                 document.getElementById('select-address').classList.remove("processorder-heading")
                 document.getElementById("order-summary").scrollIntoView();
     
                 document.getElementById('order-summary').classList.add("processorder-heading")

                 document.getElementById('spinner-border').style.display="none";

                 $.ajax({
                      url: '<%= line_items_products_index_path  %>',
                      type: 'GET',
                      dataType: 'html',
                      success: function (data) {
                        $('#order-summary-container').html(data);
    
                          $(document).on('click', '#proceed', function () {
                               

                            window.location = `/orders/${flags.addressid}/buildorder`;
                        });


                      },
                      error: function () {
                        alert('An error occurred while loading the review form.');
                      }
                   });

            },2000)
           

            // this.parentElement.classList.add("prod");
        } else {
            // this.parentElement.classList.remove("prod");
        }
    });
});




  $(document).on('click', '#open-address-form', function () {
    $.ajax({
      url: '<%= new_address_path %>',
      type: 'GET',
      dataType: 'html',
      success: function (data) {
        $('#address-form-container').html(data);
      },
      error: function () {
        alert('An error occurred while loading the review form.');
      }
    });
  });
  

  $(document).on('click', '#cancel', function () {

       $('#address-form-container').html("");
  });

 



</script>