<div id="loader"> </div>
<!-- start section showing custom toast -->
<div id="custom-toast">
   <p>Custom Toast</p>
</div>
<!-- End section showing custom toast -->

<!-- Start Section For Category -->
<div class="container-fluid" style="background-color: white;">
<div class="items">
   <% @categories.each do |category| %>
      <div class="d-flex align-items-center flex-column">
      <a href="#category-<%= category.id %>" style="text-decoration: none;color:black" class="d-flex align-items-center flex-column">
      <h6 style="text-align: center;"><%= category.category_name%></h6>
      <% if category.category_image.present? %>
         <%= image_tag category.category_image %>
      <%end%></a>
      </div>
   <%end%> 
</div>
</div>
<!-- End Section For Category -->

<!-- Start Section For Product  -->
<div class="container-fluid">
    <% @categories.each do |category| %>
        <div class="mt-4 p-2" style="background-color: white;">
        <h3 id="category-<%= category.id %>"><%= category.category_name %> </h3>
        <div class="multiple-items">
           <% category.products.each do |product| %>
             <div class="card border border-1" style="width: 12rem;">
               <div class="d-flex justify-content-end p-2">
                <a  href='javascript:void(0);' class='additemtowish' data-id="<%= product.id%>">
                  <!-- <i class="bi bi-heart-fill" style="font-size: 20px;color:red"></i> -->
                  <i class="bi bi-suit-heart ticon" id="product<%= product.id %>"></i>
                </a>
               </div>
               <a href="products/<%=product.id%>" class="styleanchor">
               <% if product.product_images.present? %>
                  <%= image_tag product.product_images.first,class:"card-img-top img-fluid productsliderimg"%>
               <%else%>
                   <img src="..." class="card-img-top" alt="...">
               <%end%>
               <div class="card-body" style="text-align: center;">
               <h5 class="card-title"><%= truncate(product.product_name) %></h5>
                <div>
                 <span>
                   <span class="card-text fs-5">₹<%= format_number(calculateoffer(product.product_price,product.offer)) %></span>
                    &nbsp;
                   <del><%= format_number(product.product_price)%></del>
                   &nbsp;
                   <span class="fs-6" style="color:green"><%= product.offer%>% off </span>
                 </span>
                 </div>
               </div>
               </a>
              </div>
           <%end%>
        </div>
       </div>
    <%end%> 
</div>
<!-- End Section For Product -->

<!-- Start Section Of Javascript For WishList -->
<% if user_signed_in? %>
   <% @product_ids = current_user.wish_list.products.ids %>
   <script>
      var ids = <%= @product_ids %>
      ids.forEach(function(value)
      {  
          let a = document.getElementById(`product${value}`)
          a.classList.remove("bi-suit-heart")
          a.classList.add("bi-heart-fill")
          a.style.color = "red"
        
      })
    </script>   
<% end %>
<!-- End Section Of Javascript For WishList -->
 