<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">Let's Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <form class="d-flex w-50" role="search">
        <input class="form-control me-2" type="search" placeholder="Search for products,brands and more" aria-label="Search">

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

   

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">

          <% if user_signed_in? %>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <%= current_user.first_name %>
            </a>
            <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="/homes/show"><i class="bi bi-person-circle"></i> &nbsp; My Profile</a> </li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-mailbox2"></i>
             &nbsp; Orders</a></li>
            <li><a class="dropdown-item" href="/wish_lists"><i class="bi bi-suit-heart-fill"></i>
             &nbsp; Wishlist(<%= count_wish_list_products%>)</a></li>
            <li><hr class="dropdown-divider"></li>

            <li><a data-turbo-method="delete" class="dropdown-item" href="/users/sign_out"><i class="bi bi-power"></i>&nbsp; Logout</a></li>
            </ul>
            </li>
          <%else%>
          <li>
           <%= link_to 'Login', new_user_session_path,class:"btn btn-outline-info" %></li> 
          <%end%>
        
         <li class="nav-item dropdown ms-5">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link fs-6" href="/carts"><i class="bi bi-cart4"></i> Cart</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

<div id="custom-toast">
   <p>Custom Toast</p>
</div>

<!-- Start Section For Category -->
<div class="container-fluid" style="background-color: white;">
<div class="items">
               <% @categories.each do |category| %>
                <div class="d-flex align-items-center flex-column">
                   <h6 style="text-align: center;"><%= category.category_name%></h6>
                     <% if category.category_image.present? %>
                     <%= image_tag category.category_image %>
                     <%end%>
                </div>
               <%end%> 
</div>
</div>
<!-- End Section For Category -->



<!-- Start Section For Product  -->
<div class="container-fluid 
">

  
  
        <% @categories.each do |category| %>
        <div class="mt-4 p-2" style="background-color: white;">
        <h3><%= category.category_name %> </h3>
        <div class="multiple-items">
           <% category.products.each do |product| %>
             <div class="card border border-1" style="width: 12rem;">
               <div class="d-flex justify-content-end p-2">
                <a  href='javascript:;' class='additemtowish' data-id="<%= product.id%>">
                  <i class="bi bi-heart-fill" style="font-size: 20px;color:red"></i>
                </a>
                <span id="wishlist-err-<%= product.id %>" style="display: none;">Error</span>
               </div>
               <% if product.product_images.present? %>
                  <%= image_tag product.product_images.first,class:"card-img-top img-fluid productsliderimg"%>
               <%else%>
                   <img src="..." class="card-img-top" alt="...">
               <%end%>
               <div class="card-body" style="text-align: center;">
               <h5 class="card-title"><%= product.product_name %></h5>
               <h5 class="card-title">Starting From ₹ <%= product.product_price %></h5>
               </div>
              </div>
           <%end%>
        </div>
       </div>
        <%end%>

   

</div>
 <!-- End Section For Product -->