<!-- Start Section For Navbar -->
<%= render 'layouts/navbar' %>
 <!-- End Section For Navbar -->

<div class="container mt-5 d-flex justify-content-center flex-column">

  <% if @search_products.present? %>

  <% @search_products.each do |p| %>
  <div class="card mb-3 w-100 bstart commonshadow">
  <div class="row g-0">
    <a href="/products/<%= p.id %>" class="row g-0 sp">
    <div class="col-md-4">
       <% if p.product_images.present? %>
           <% p.product_images.each do |img| %>
           <%= image_tag url_for(img),class:"img-fluid rounded-start img-size2" %>
           <%end%>
        <%else%>
          <img src="https://bubbleerp.sysfosolutions.com/img/default-pro.jpg" alt="" class="img-fluid rounded-start">

       <%end%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
       
        <h5 class="card-title"><%= p.product_name %></h5> 
        <div>

          <span>
          <h6 style="color:green">Special Price</h6>  
          <span class="card-text fs-4">₹<%= format_number(calculateoffer(p.product_price,p.offer)) %></span>
          &nbsp;
          <del><%= format_number(p.product_price)%></del>
          &nbsp;
          <span class="fs-6" style="color:green"><%= p.offer%>% off </span>
          </span>

        </div>
       
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
   </a>
   </div>
  </div>

 <%end%>
  <div class="d-flex justify-content-center mt-3">
       <%= paginate @search_products,theme: 'bootstrap-5',pagination_class:"pagination-md flex-wrap justify-content-center",
                   nav_class: "d-inline-block",class:"w-50"%>
  </div>
 
  <% else %>
  
    <div class="border border-2 emptycart" style="text-align:center; margin: auto;">
      <img src="https://cdni.iconscout.com/illustration/premium/thumb/wishlist-5171457-4320894.png",class="img-fluid" style="width: 300px;">
      <h3> No Result Found </h3>
      <div class="d-flex justify-content-center mt-2">
       <a class="btn btn-success" href="/"><i class="bi bi-cart-fill"></i> Return to Shop Page</a>
      </div>
    </div>

 
  <%end%>
</div>

<!-- Start Section For Footer -->
<%= render 'layouts/footer' %>
 <!-- End Sectiob For Footer -->
