<!-- Starting Section For Navbar -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/">Let's Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      

      <%= form_with url: "/homes/search", method: :get,class:"d-flex w-50" do |form| %>
         <%= form.text_field :query,class:"form-control me-2",placeholder:"Search For products,brands and more",required:true ,value:"#{params[:query]}"%>
         <%= form.submit "Search",class:"btn btn-outline-success",id:"search-btn"%>
      <% end %>


      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">

          <% if user_signed_in? %>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <%= current_user.first_name %>
            </a>
            <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="/homes/show"><i class="bi bi-person-circle"></i> &nbsp; My Profile</a> </li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-mailbox2"></i>
             &nbsp; Orders</a></li>
            <li><a class="dropdown-item" href="/wish_lists"><i class="bi bi-suit-heart-fill"></i>
             &nbsp; Wishlist(<%= count_wish_list_products%>)</a></li>
            <li><hr class="dropdown-divider"></li>

            <li><a data-turbo-method="delete" class="dropdown-item" href="/users/sign_out"><i class="bi bi-power"></i>&nbsp; Logout</a></li>
            </ul>
            </li>
          <%else%>
          <li>
           <%= link_to 'Login', new_user_session_path,class:"btn btn-outline-info" %></li> 
          <%end%>
        
         <li class="nav-item dropdown ms-5">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link fs-6" href="/carts">
            <div class="position-relative">
            <i class="bi bi-cart4"></i> Cart
            <% if user_signed_in? && current_user.cart.present? && (current_user.cart.line_items_products.count > 0) %>
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">            
              <%= current_user.cart.line_items_products.count %>
              <span class="visually-hidden">unread messages</span>
            </span>
            <%end%>
          </div>
          </a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

<!-- End Section For Navbar -->