<!DOCTYPE html>
<html>
  <head>
    <title>Let's Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicon -->
    <%= favicon_link_tag asset_path('icons2.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>  

    <script src="https://js.stripe.com/v3/"></script>

      <style type="text/css">

            .processorder input + div label {
                 padding: 10px;
                 cursor: pointer;
             }


             .processorder-heading{
                 background-color: blue;
                 color:white;
                 padding: 10px;
             }

             .processorder-heading span{
                color: blue;
             }

             .digit{
                height:25px;
                width: 30px;
                background-color: whitesmoke;
                display: inline-block;
                text-align: center;

             }
      </style> 
  </head>

  <body>

     <i
      id="backtotop"
      class="bi bi-arrow-up-circle-fill"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Back To Top"
    ></i>

  
    <%= yield %>

    


     <% if flash.any? %>
        <script type="text/javascript">
        <% flash.each do |key, value| %>
        <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
        toastr.<%= type %>('<%= value %>')
        <% end %>
        </script>
    <% end %>


  

  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js">
  </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


     <%= javascript_include_tag "custom", "data-turbo-track": "reload", defer: true %>
  
  </body>
</html>
